:root {
  --gems-color-1: #4e944f;
  --gems-color-2: #83bd75;
  --gems-color-3: #b4e197;
  --gems-color-4: #e9efc0;
  --gems-color-5: #fafafa;
  --gems-placeholder-color: #89a289;
  --gems-bg-color: #fafafa;
  --gems-border-color: #d5e4d1;
  --gems-border-s: 1px solid var(--gems-border-color);
  --gems-border-m: 2px solid var(--gems-border-color);
  --gems-border-l: 4px solid var(--gems-border-color);
  --gems-border-radius-xs: 3px;
  --gems-border-radius-s: 6px;
  --gems-border-radius-m: 10px;
  --gems-border-radius-l: 20px;
  --gems-border-radius-xl: 35px;
}
